# vscode
.vscode

# .DS_Store
.DS_Store
squirrelfriends/.DS_Store
squirrelfriends/eagle/.DS_Store
squirrelfriends/owl/.DS_Store
squirrelfriends/penguin/.DS_Store
squirrelfriends/squirrel/.DS_Store
squirrelfriends/utils/.DS_Store
